header {
  width: -webkit-fill-available;
  height: 30px;
  /* background-color: white; */
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 5px;
  /* padding: 2px; */
  /* padding-top: 3px; */
}
.logo_container {
  width: 30%;
  height: 100%;
  display: inline-flex;
}
.logo_container .logo {
  width: 12%;
  display: flex;
  justify-content: flex-end;
}
.logo_container .logo i {
  margin-right: 5px;
  /* width: 500px; */
  /* width: 90%;
  height: 100%;
  border-radius: 30%; */
}
.logo_container .studio_name p {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}
.logo_container .studio_name {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}
.logo_container .studio_name #name_id {
  font-weight: 600;
}

.fav_button button {
  background: none;
  border-style: none;
  color: black;
}
.search_container i {
  position: absolute;
  padding: 10px;
  padding-left: 3px;
  top: 2px;
}
.search_container input {
  height: 25px;
  width: 350px;
  /* margin-top: 10px; */
  border: 1px solid black;
  border-radius: 10px;
  padding: 2px;
  padding-left: 22px;
  outline: none;
}
.profile_image_container {
  border: 1px solid black;
  border-radius: 50%;

  overflow: hidden;
  flex-wrap: flex;
  margin-right: 10px;
  width: 5vw;
  height: 100%;
}
.profile_image_container img {
  width: 100%;
  height: 100%;
}
