/* Content Container */
.content_container {
  height: 75vh;
  /* background-color: darkkhaki; */
  display: flex;
  padding: 10px;
}
/* left side container */
.left {
  width: 70%;
  height: 100%;
  border: 1px solid black;
  /* background-color: yellow; */
}

/* display */
.display {
  display: flex;
  /* width: 100%; */
  height: 50%;
  /* background-color: #8ca9d4a8; */
  padding-top: 8px;
  /* margin-left: 2px; */
  /* margin-right: 10px; */

  padding-left: 10px;
  padding-right: 6px;
}
.display .current_image {
  width: 50%;
  height: 100%;
}
.display .current_image img {
  width: 100%;
  height: 100%;
}
.display_des {
  padding: 4px;
}

.display_des .name_fol {
  display: flex;
  justify-content: space-between;
  /* padding: 2px; */
}

.display_des .name_fol h2 {
  margin-bottom: 0;
}

.display_des #band_name {
  margin: 0;
}

.display_action button {
  width: 160px;
  height: 50px;
  border: none;
  background: none;
  background: steelblue;
  color: white;
}
.display_action button:hover {
  cursor: pointer;
}
.display_action .follow_btn {
  margin-left: 10%;
  background-color: white;
  color: black;
}
#details {
  margin: 0;
}

/* right side container */
.right {
  width: 30%;
  height: 100%;
  border: 1px solid black;
  /* background-color: tomato; */
}
